/* Main Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purpleColor: #7552f6;
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: rgb(255, 243, 210);
}

html {
    font-family: "Lato", sans-serif;
}

body {
    color: #2b2a35;
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url(PlayfairDisplay-Regular.ttf);
}

a {
    text-decoration: none !important;
}

.header-text {
    font-family: 'Playfair Display', serif;
}

.header-big-text {
    font-family: 'Playfair Display', serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.35;
}

.links {
    margin-top: 7.5rem;
}

.links, .cards-container, .discover {
    text-align: center;
}

.press-images a {
    margin-right: 3rem;
}

.press-images a:last-child {
    margin-right: 0;
}

.cards-container {
    display: flex;
    height: 82vh;
}

.card-image {
    align-self: center;
    width: 190px;
}

.card-h {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: 700;
}

.card-para {
    width: 57%;
    font-size: 1.1rem;
    margin: 0 auto;
    opacity: .8;
    line-height: 1.6;
}

.card-box {
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 12px 0 #eaeaea;
}

/* How it works section */
.how-it-works {
    position: relative;
    width: 100%;    
    overflow: hidden;
}

.garnish-image {
    position: absolute;
    left: 68%;
}

/* Data section */
.border-black {
    border-left: 1px solid #afafaf;
    position: relative;
    opacity: .3;    
    overflow-y: hidden;
}

.border-black::before {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    left: -1px;
    background-color: var(--purpleColor);
    border-radius: 5px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .3s ease;
}

.padded-bottom {
    padding-bottom: 1.5rem;
}

.padded-top {
    padding-top: 1rem;
}

.padded {
    padding-bottom: 2rem;
}

.changeheight1, .changeheight2, .changeheight3 {
    display: block;
    height: 0;
    overflow: hidden;
    transform-origin: top;
    transition: all .6s ease;
}

.changeheight3 {
    margin-bottom: 0rem;
}

.h7 {
    color: rgba(43,42,53,.8);
}

.hanging {
    position: absolute;
    top: 0;
}

#data1, #data2, #data3 {
    display: none;
}

#data1:checked + .border-black,
#data2:checked + .border-black,
#data3:checked + .border-black {
    opacity: 1;
    padding-bottom: 0;
    padding-top: 0;
    border-left: 0;
}

#data1:checked + .border-black::before,
#data2:checked + .border-black:before,
#data3:checked + .border-black::before {
    transform: scaleY(1);
    left: -1px;
}

#data1:checked + .border-black .changeheight1 {
    height: 55px;
    margin-bottom: 0rem;
}

#data2:checked + .border-black .changeheight2 {
    height: 80px;
    margin-bottom: 0rem;
}
#data3:checked + .border-black .changeheight3 {
    height: 55px;
}

#data1:checked + .border-black .weight,
#data2:checked + .border-black .weight,
#data3:checked + .border-black .weight {
    font-weight: 600;
}

#data1:checked ~ .padded {
    padding-top: 2.5rem;
    padding-bottom: .5rem;
}

#data2:checked ~ .padded-top {
    padding-top: 2.5rem;
}

#data3:checked + .padded-bottom {
    padding-bottom: 0rem;
}

#img1, #img2, #img3 {
    display: none;
}
 
@keyframes imagechanger {
    from {opacity: .7;}
    to {opacity: 1;}
}

#data1:checked ~ .hanging > #img1 {
    display: block;
    opacity: 1;
    animation: imagechanger 1.7s ease;
}

#data2:checked ~ .hanging > #img2 {
    display: block;
    opacity: 1;
    animation: imagechanger 1s ease;
}

#data3:checked ~ .hanging > #img3 {
    display: block;
    opacity: 1;
    animation: imagechanger 1.7s linear;
}

/* Awards Section */
.discover {
    margin-top: 15rem;
}

.awards {
    width: 60%;
    margin: 3rem auto
}

.award {
    margin-bottom: 1.5rem;
    margin-left: .65rem;
    margin-right: .65rem;
    padding: .8rem 2rem .7rem 1.2rem; 
}

/* Statistics Section */
.statistics {
    display: grid;
    grid-template-columns: .25fr .25fr .25fr;
    place-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 3rem 0;
}

.bold-text {
    font-family: Lora, serif;
    font-size: 3.3rem;   
}

.stats-text {
    width: 10.5rem;
    line-height: 1.4;
}

/* Frames Section */
.frames {
    height: 700px;
    padding: 7rem 0 50rem 0;
}

.frame-container {
    width: 550px;
    height: 700px;
}

.frame-container2 {
    width: 550px;
    height: 730px;
}

.frame {
    flex-grow: 1!important;
    display: block;
}

/* Verified Section */
.verified {
    display: grid;
    grid-template-columns: .4fr .4fr;
    place-content: center;    
    background-color: #f9f9f9;
    padding: 6rem 0;
}

.verified-text {
    width: 340px;
    color: rgba(43,42,53,.8);
}

/* Unleash Section */
.unleash {
    padding: 13rem 0;
}

.unleash-text {
    max-width: 450px;
}

.unleash-image {
    width: 430px;
    padding-left: 6rem;
    padding-top: 3.5rem;
    overflow: hidden;
}

/* Footer */
.footer {
    background-color: #2b2a35;
    color: #fff;
}

.footer-container {
    padding: 5.5rem 8rem;
}

.footer-title {
    opacity: .5;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2.5rem;
    font-size: 1.12rem;
}

.footer-links li {
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
}

.footer-links li:last-child {
    margin-bottom: 0;
}

.footer-links a {
    color: #fff !important;
}

.footer-f {
    padding: 2.5rem 8rem;
}

.footer-f p {
    font-size: 1.12rem;
}

.footer-icons {
    font-size: 1.8rem;
}

.footer-icons a {
    margin-left: 2rem;
    color: #fff !important;
}

.footer-icons a:first-child {
    margin-left: 0;
}

.cookie {
    width: 130px;
    text-align: center;
    background-color: black;
    color: #fff;
    margin-left: 3rem;
    font-size: 1.1rem;
    padding: .5rem .3rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cookie:hover {
    text-decoration: underline;
}

/* Utilities */
.bd {
    border: 1px solid sienna;
}
.border-transparent {
    border: 1px solid transparent;
}

.center {
    margin: auto;
}

.side-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.mr-12 {
    margin-right: 11rem;
}

.mr-6 {
    margin-right: 7rem;
}

.mr-3-5 {
    margin-right: 2rem;
}

/* .mt-16 {
    margin-top: 5rem;
} */

.mt-9 {
    margin-top: 9rem;
}

.mt-7 {
    margin-top: 7.5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-4-6 {
    margin-top: 4.6rem;
}

.mt-4-5 {
    margin-top: 2.7rem;
}

.mb-4-5 {
    margin-bottom: 2rem;
}

.mt-2-1 {
    margin-top: 2.1rem;
}

.pt-2-5 {
    padding-top: .8rem;
}



.pl-4-5 {
    padding-left: 2rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.text-color {
    color: #2b2a35;
    font-weight: 500;
}

.text-color:hover:not(.purple) {
    text-decoration: none;  
    color: var(--purpleColor);
    opacity: .9;
}

.purple {    
    color: var(--purpleColor);
    font-weight: 600;
}

.purple:hover {
    text-decoration: none;
    color: #7552f6;
}

.btn-outline-purple {
    border: 1px solid var(--purpleColor);
    color: var(--purpleColor);
    padding: .7rem 1.7rem .75rem 1.7rem;
    border-radius: 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-outline-purple:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--purpleColor);
}

.btn-purple, .btn-purple1, .btn-purple2 {
    border: 1px solid var(--purpleColor);
    background-color: var(--purpleColor);
    color: #fff;
    padding: .7rem 1.6rem .75rem 1.6rem;
    border-radius: 30px;
    transition: opacity 0.15s ease-in-out;
}

.btn-purple1 {
    padding: .7rem 2.4rem .75rem 2.4rem;
}

.btn-purple2 {
    padding: .9rem 3rem .9rem 3rem;
    font-size: 1.2rem;
}

.btn-purple:hover, .btn-purple1:hover, .btn-purple2:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
}

.opacity {
    opacity: .4;    
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
}

.big-text, .big-text1  {
    font-family: 'Playfair Display', serif;
    font-size: 3.3rem;
    font-weight: 700;    
}

.big-text {
    line-height: 1.35;
    max-width: 500px;
}

.small-text {
    max-width: 480px;
}

.border-purple {
    border-left: 2px solid var(--purpleColor);
}

.weight {
    font-size: 1.28rem;
    font-weight: normal;
    cursor: pointer;
}

.h7,
.small-text,
.btn-purple,
.btn-outline-purple,
.btn-purple1,
.purple,
.text-color,
.stats-text,
.verified-text {
    font-size: 1.1rem;
}

.left-align {
    text-align: left;
    margin-left: 1rem;
}

.bg-award {
    color: rgb(227, 193, 1);
    font-size: 1.8rem;
    margin-top: .05rem;    
}

.mini-text {
    font-size: .7rem !important;
}

.border-gray {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.text-purple {
    color: var(--purpleColor);
    font-size: 1.1rem;
}

.bold {
    font-weight: bold;
}

/* Responsive */
@media screen and (max-width: 575px) {
    .pad-top {
        width: 80%;
    }
    .pl-6 {
        width: 20%;
        margin-left: -15rem!important;  
        padding-left: 0 !important;
    }

    .pl-6 > img {
        width: 100%!important;
        max-height: 55vh !important;
    }

    .w-90 {
        width: 180px !important;
    }
}

@media screen and (max-width: 767px) {
    .pd-top {
        padding-top: 3rem !important;
    }
    
    .pl-6 {
        margin-left: -15rem;
        width: 400px !important;
        padding-left: 0rem !important;
    }

    .pl-6 > img {
        height: 60vh;
    }

    .pt-2-5 {
        padding-top: 0rem;
    }

    .header-text {
        font-size: 1rem !important;
        padding-bottom: 0 !important;
    }

    .header-big-text {
        font-size: 2rem !important;
        width: 250px !important;
        padding-bottom: 0 !important;
    }

    .w-90 {
        width: 310px !important;
    }
}

@media screen and (max-width: 991px) {
    .header-text {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    .header-big-text {
        font-size: 2.9rem;
        width: 400px;
        padding-bottom: 1.3rem;
    }

    .mt-16 {
        margin-top: 5.5rem ;
    }

    .pd-top {
        padding-top: 6rem;
    }
    
    .pl-6 {
        padding-left: 8rem !important;
    }    

    .w-90 {
        width: 100%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 993px) {
    .header-text {
        font-size: 1.5rem;
    }

    .header-big-text {
        font-family: 'Playfair Display', serif;
        font-size: 5.4rem;
        font-weight: 700;
        line-height: 1.35;
    }

    .mt-16 {
        margin-top: 16.5rem;
    }

    .pl-6 {
        padding-left: 3.5rem !important;
    }
    
    .w-90 {
        width: 92%;
        font-size: 1.11rem;
    }

}

@media screen and (min-width: 1441px) {
    .container-fluid {
        width: 1440px !important;
    }
}