/* Main Styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --purpleColor: #7552f6;
}

html {
    font-family: "Lato", sans-serif;
}

body {
    color: #2b2a35;
}

@font-face {
    font-family: 'Playfair Display', serif;
    src: url(PlayfairDisplay-Regular.ttf);
}

.header-text {
    font-family: 'Playfair Display', serif;
}

.header-big-text {
    font-family: 'Playfair Display', serif;
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 1.35;
}

.links {
    margin-top: 7.5rem;
    text-align: center;
}

.press-images a {
    margin-right: 3rem;
}

.press-images a:last-child {
    margin-right: 0;
}

.cards-container {
    display: flex;
    height: 82vh;
    text-align: center;
}

.card-image {
    align-self: center;
    width: 190px;
}

.card-h {
    font-family: "Playfair Display", serif;
    font-size: 2.2rem;
    font-weight: 700;
}

.card-para {
    width: 57%;
    font-size: 1.1rem;
    margin: 0 auto;
    opacity: .8;
    line-height: 1.6;
}

.card-box {
    border: 0 !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 12px 0 #eaeaea;
}

/* How it works */
.how-it-works {
    position: relative;
    width: 100%;    
    overflow: hidden;
}

/* .how-it-works::before {
    content: "";
    position: absolute;
    background-image: url(images/mine-menu-garnish.jpg);
    width: 40%;
    height: 100%;
    top: 20%;
    left: 65%;
    z-index: 1;
} */

.garnish-image {
    position: absolute;
    left: 68%;
}

/* Utilities */
.bd {
    border: 1px solid sienna;
}

.w-90 {
    width: 92%;
    font-size: 1.11rem;
}

.center {
    margin: auto;
}

.side-padding {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.mt-16 {
    margin-top: 16.5rem;
}

.mt-9 {
    margin-top: 9rem;
}

.mt-7 {
    margin-top: 7.5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mt-4-6 {
    margin-top: 4.6rem;
}

.pt-2-5 {
    padding-top: .8rem;
}

.pl-6 {
    padding-left: 3.5rem !important;
}

.pl-4-5 {
    padding-left: 2rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.text-color {
    color: #2b2a35;
    font-weight: 500;
}

.text-color:hover:not(.purple) {
    text-decoration: none;  
    color: #7552f6;
    opacity: .9;
}

.purple {    
    color: #7552f6;
    font-weight: 600;
}

.purple:hover {
    text-decoration: none;
    color: #7552f6;
}

.btn-outline-purple {
    border: 1px solid #7552f6;
    color: #7552f6;
    padding: .7rem 1.7rem .75rem 1.7rem;
    border-radius: 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.btn-outline-purple:hover {
    text-decoration: none;
    color: #fff;
    background-color: #7552f6;
}

.btn-purple {
    border: 1px solid #7552f6;
    background-color: #7552f6;
    color: #fff;
    padding: .7rem 1.6rem .75rem 1.6rem;
    border-radius: 30px;
    transition: opacity 0.15s ease-in-out;
}

.btn-purple:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
}

.btn-purple1 {
    border: 1px solid var(--purpleColor);
    background-color: var(--purpleColor);
    color: #fff;
    padding: .7rem 2.4rem .75rem 2.4rem;
    border-radius: 30px;
    transition: opacity 0.15s ease-in-out;
}

.btn-purple1:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
}

.opacity {
    opacity: .4;    
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
}

.big-text {
    font-family: 'Playfair Display', serif;
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.35;
    max-width: 500px;
}

.small-text {
    max-width: 480px;
    margin-top: 2.1rem;
}

.border-purple {
    border-left: 3px solid var(--purpleColor);
}

.border-black {
    border-left: 1px solid #959595;
    opacity: .3;
}

.bold {
    font-weight: 600;
}

input:onclick {
    display: none;
}

.light, .bold {
    font-size: 1.28rem;
}

.light {
    font-weight: normal!important;
}

.h7,
.small-text,
.btn-purple,
.btn-outline-purple,
.btn-purple1,
.purple,
.text-color {
    font-size: 1.1rem;
}

.h7 {
    color: rgba(43,42,53,.8);
}
/* Responsive */
